@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Class Activity 2</h1>
    <p class="lead">This sample project shows how you can build reports using SQL Server Reporting Services in an MVC Web Application</p>
</div>

<div class="row">
   
    <div class="col-md-6">
        <h2>Advanced Reports</h2>
        <p>See how you can build reports that allow users to adjust a report's criteria and produce reports that are hybrid and contains control breaks</p>
        <p>@Html.ActionLink("Continue", "Advanced", "Home", new { area = "" }, new { @class = "btn btn-default" })</p>
    </div>
</div>